@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #3B82F6;
  --color-secondary: #fff1cd;
  --color-button: #ffdf76;
  --color-bg: #F9FAFB;
  --color-dark-container: #4d4d4d;
  --color-card: #FFFFFF;
  --color-bg-alt: #EFF6FF;

  --color-text: #1b1d20;
  --color-text-muted: #535964;
  --color-text-light: #fff3cc;

  --color-segment-1: #F87171;
  --color-segment-2: #34D399;
  --color-segment-3: #60A5FA;
  --color-segment-4: #FCD34D;
  --color-segment-5: #A78BFA;

}

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #fff1cd;
  --color-button: #ffdf76;
  --color-bg: #F9FAFB;
  --color-dark-container: #4d4d4d;
  --color-card: #FFFFFF;
  --color-bg-alt: #EFF6FF;

  --color-text: #1b1d20;
  --color-text-muted: #535964;
  --color-text-light: #fff3cc;

  --color-segment-1: #F87171;
  --color-segment-2: #34D399;
  --color-segment-3: #60A5FA;
  --color-segment-4: #FCD34D;
  --color-segment-5: #A78BFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive, 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive, Arial, Helvetica, sans-serif;
}

@layer components {

  .background {
    @apply min-h-screen bg-gradient-to-br from-yellow-100 via-pink-100 to-purple-200;
  }

  .text-outline-light {
    -webkit-text-stroke: 4px rgba(240, 240, 240, 0.63);
    -webkit-text-fill-color: transparent;
  }

  .text-outline-dark {
    -webkit-text-stroke: 4px rgba(41, 41, 41, 0.63);
    -webkit-text-fill-color: transparent;
  }

  /* Hide scrollbar but keep scroll functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .gradient-text {
    @apply font-bold text-center mb-6 bg-gradient-to-r from-purple-200 via-pink-100 to-yellow-100 bg-clip-text text-transparent
  }

  /* Buttons */
  .btn {
    @apply cursor-pointer px-8 py-2 rounded-xl text-lg border-5 border-gray-400 hover:scale-105 transition;
  }

  .btn-primary {
    @apply bg-[--color-primary] text-white hover:bg-indigo-700 px-4 py-2 shadow-sm hover:scale-105;
  }

  .btn-secondary {
    @apply bg-gray-100 text-gray-800 hover:bg-gray-200 px-4 py-2 shadow-sm;
  }

  .btn-danger {
    @apply bg-[--color-danger] text-white hover:bg-red-600 px-4 py-2 shadow-sm;
  }

  /* Cards */
  .card {
    @apply rounded-2xl shadow-lg border border-gray-300/80 p-6 transition-all hover:shadow-2xl hover:shadow-xl transition-all transform hover:scale-110 hover:rotate-2 border-4;
  }

  /* Input fields */
  .input-text {
    @apply w-full px-4 py-2 bg-gray-900 text-gray-100 border-2 border-gray-400 rounded-xl focus:border-purple-200 focus:outline-none;
  }

  /* Section containers */
  .section-gray {
    @apply p-8 bg-gray-800/80 rounded-2xl shadow-2xl border-5 border-white/60 transition-all hover:shadow-2xl hover:shadow-xl transition-all transform hover:scale-110 hover:rotate-2;
  }

  .section-dark {
    @apply inline-block bg-gray-800/90 rounded-2xl p-8 shadow-xl border-5 border-white/60;
  }
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}